.header-subtitle {
    color: white;
}

.form-container {
    transition: max-height 0.15s .3s ease-in-out;
    max-height: 10000px;
}

button:disabled {
    background-color: gray;
    cursor: default;
}